rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /highscores/{scoreId} {
      allow read: if true;
      allow create: if request.resource.data.name is string 
                    && request.resource.data.name.size() > 0 
                    && request.resource.data.name.size() <= 12
                    && request.resource.data.time is number
                    && request.resource.data.time > 0
                    && request.resource.data.time < 600;
      allow update, delete: if false;
    }
  }
}
